
.barra {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
  }

  .small {
    max-width: 800px;
    /* max-height: 500px; */
    margin:  50px auto;
    
  }